<section class="card">
    <div class="area-description">
        <h2 class="title">{{titleEvent}}</h2>
        <p class="description">{{descriptionEvent}}</p>
        <p>{{dateEvent}}</p>
    </div>
    <div class="area-btn">
        <app-btn btn-text="Add event"></app-btn>
        <app-btn btn-text="Leave event" variant="delete" ></app-btn>
    </div>
</section>
<!--
 verificar a possibilidade de melhoria colocar outras propriedades que podem ser passadas para  
 mudar a cor do card e desabilitar os botoes casoo evento estiver ativo ou exclusivo

-->